/* .container {
  // margin: 20px;
} */

p {
  margin-bottom: 0rem;
}

.badge {
  /* padding: 10px 100px; */
  margin-top: 10px;
  font-size: 100%;
  font-weight: 400;
  border-radius: 0.5rem;
}

.btn {
  margin: 20px;
}
